[submodule "libraries/arduino_midi_library"]
	path = libraries/arduino_midi_library
	url = http://github.com/FortySevenEffects/arduino_midi_library.git
[submodule "libraries/encoder"]
	path = libraries/encoder
	url = ssh://github.com/Orygin/encoder.git
