[submodule "libraries/arduino_midi_library"]
	path = libraries/arduino_midi_library
	url = http://github.com/FortySevenEffects/arduino_midi_library.git
[submodule "libraries/encoder"]
	path = libraries/encoder
	url = ssh://github.com/Orygin/encoder.git
[submodule "components/Adafruit-MCP23017-Arduino-Library"]
	path = components/Adafruit-MCP23017-Arduino-Library
	url = https://github.com/adafruit/Adafruit-MCP23017-Arduino-Library.git
[submodule "components/Adafruit_SSD1306"]
	path = components/Adafruit_SSD1306
	url = https://github.com/adafruit/Adafruit_SSD1306.git
[submodule "components/Adafruit-GFX-Library"]
	path = components/Adafruit-GFX-Library
	url = https://github.com/adafruit/Adafruit-GFX-Library.git
